@font-face {
  font-family: 'akashi';
  src: url("../assets/fonts/akashi-webfont.woff2") format("woff2"), url("../assets/fonts/akashi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesomeSolid';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../assets/fonts/fa-solid-900.woff2") format("woff2"), url("../assets/fonts/fa-solid-900.woff") format("woff");
}

.fa,
.fas {
  font-family: 'FontAwesomeSolid';
  font-weight: 900;
}

@font-face {
  font-family: 'FontAwesomeRegular';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../assets/fonts/fa-regular-400.woff2") format("woff2"), url("../assets/fonts/fa-regular-400.woff") format("woff");
}

.far {
  font-family: 'FontAwesomeRegular';
  font-weight: 400;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'akashi', sans-serif;
  font-size: 100%;
  color: white;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-ui {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-ui h1 {
  text-align: center;
  padding: .5rem;
  font-size: 4rem;
}

.main-ui .glow {
  text-shadow: 0 0 1rem white, 0 0 2rem #51baff, 0 0 3rem #53baff, 0 0 4rem #54bbff, 0 0 5rem #50b9ff;
}

.main-ui .panel {
  padding: 1rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  max-width: 30rem;
  display: none;
}

.main-ui .panel#main-panel.show {
  display: block;
}

.main-ui .panel#levels-choice {
  height: 60%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-ui .panel#levels-choice.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-ui .panel#settings {
  display: none;
}

.main-ui .panel#settings h3 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: .8rem;
}

.main-ui .panel#settings .toggle {
  padding: .5rem;
  color: #747474;
}

.main-ui .panel#settings .toggle .on-status,
.main-ui .panel#settings .toggle .off-status {
  text-align: left;
  min-width: 2rem;
  display: inline-block;
}

.main-ui .panel#settings .toggle .on-status {
  display: none;
}

.main-ui .panel#settings .toggle i {
  color: transparent;
  padding: .4rem .3rem .3rem;
  margin-right: .5rem;
  border: 1px solid #747474;
  font-size: .8rem;
}

.main-ui .panel#settings .toggle.on {
  color: white;
}

.main-ui .panel#settings .toggle.on .off-status {
  display: none;
}

.main-ui .panel#settings .toggle.on .on-status {
  display: inline-block;
}

.main-ui .panel#settings .toggle.on i {
  color: white;
  border-color: #50b9ff;
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
  text-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

.main-ui .panel#settings .toggle:hover {
  cursor: pointer;
}

.main-ui .panel#settings .toggle:hover i {
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

.main-ui .panel#settings .volume {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-ui .panel#settings .volume i {
  color: white;
  font-size: 2rem;
}

.main-ui .panel#settings .volume i.fa-volume-down {
  font-size: 1.5rem;
}

.main-ui .panel#settings .volume input[type=range] {
  -webkit-appearance: none;
  margin: 1rem 1rem;
  width: 100%;
  background-color: transparent;
}

.main-ui .panel#settings .volume input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: rgba(175, 223, 255, 0.5);
  border-radius: .5rem;
}

.main-ui .panel#settings .volume input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
  border: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background: #afdfff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5rem;
}

.main-ui .panel#settings .volume input[type=range]::-moz-range-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: rgba(175, 223, 255, 0.5);
  border-radius: .5rem;
}

.main-ui .panel#settings .volume input[type=range]::-moz-range-thumb {
  border: 0;
  box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background: #afdfff;
  cursor: pointer;
}

.main-ui .panel#settings .volume input[type=range]:focus {
  outline: none;
}

.main-ui .panel#settings .volume input[type=range]:focus::-webkit-slider-thumb {
  background: white;
}

.main-ui .panel#settings .volume input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(175, 223, 255, 0.7);
}

.main-ui .panel#settings .volume input[type=range]:focus::-moz-range-thumb {
  background: white;
}

.main-ui .panel#settings .volume input[type=range]:focus::-moz-range-track {
  background: rgba(175, 223, 255, 0.7);
}

.main-ui .panel#settings .volume.disabled i {
  color: #747474;
}

.main-ui .panel#settings .volume.disabled input[type=range] {
  pointer-events: none;
}

.main-ui .panel#settings .volume.disabled input[type=range]::-webkit-slider-runnable-track {
  cursor: default;
  background: rgba(116, 116, 116, 0.5);
  border-radius: .5rem;
}

.main-ui .panel#settings .volume.disabled input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #757575, 0 0 0.6rem #757575, 0 0 0.8rem #767676, 0 0 1rem #747474;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #757575, 0 0 0.6rem #757575, 0 0 0.8rem #767676, 0 0 1rem #747474;
  background: #747474;
  cursor: default;
}

.main-ui .panel#settings .volume.disabled input[type=range]::-moz-range-track {
  cursor: default;
  background: rgba(116, 116, 116, 0.5);
}

.main-ui .panel#settings .volume.disabled input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0.2rem white, 0 0 0.4rem #757575, 0 0 0.6rem #757575, 0 0 0.8rem #767676, 0 0 1rem #747474;
  background: #747474;
  cursor: default;
}

.main-ui .panel#settings.show {
  display: block;
}

.main-ui .panel#credits {
  display: none;
}

.main-ui .panel#credits a {
  color: white;
}

.main-ui .panel#credits a:hover {
  text-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

.main-ui .panel#credits p {
  color: #cccccc;
  margin-bottom: 0;
}

.main-ui .panel#credits h3,
.main-ui .panel#credits h4 {
  font-weight: normal;
  font-size: 1.8rem;
  margin-top: .2rem;
  margin-bottom: 1.5rem;
}

.main-ui .panel#credits h3.mg-bottom,
.main-ui .panel#credits h4.mg-bottom {
  margin-bottom: 2.5rem;
}

.main-ui .panel#credits h4 {
  font-size: 1.2rem;
}

.main-ui .panel#credits.show {
  display: block;
}

.main-ui .panel#victory {
  padding: 0;
  display: none;
}

.main-ui .panel#victory .info {
  padding: .5rem;
  background-color: #60d366;
}

.main-ui .panel#victory .noice {
  margin: 1rem 0;
  position: relative;
}

.main-ui .panel#victory .noice h1 {
  position: relative;
  font-size: 10rem;
  margin: 0;
  -webkit-animation: shadow-coming .65s both;
          animation: shadow-coming .65s both;
}

@-webkit-keyframes shadow-coming {
  0% {
    text-shadow: 0 0 0 black;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 0 1rem black;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@keyframes shadow-coming {
  0% {
    text-shadow: 0 0 0 black;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 0 1rem black;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

.main-ui .panel#victory .noice .victory-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-ui .panel#victory .noice .victory-effect i {
  -webkit-animation: entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-size: 10rem;
  color: #ff8500;
}

@-webkit-keyframes entrance {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes entrance {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.main-ui .panel#victory .victory-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-ui .panel#victory .victory-menu > p {
  margin: 0;
  font-size: 1.7rem;
  padding: 1rem 2rem;
}

.main-ui .panel#victory .victory-menu > p.next-level {
  color: #50b9ff;
}

.main-ui .panel#victory .victory-menu > p:hover {
  cursor: pointer;
  text-shadow: 0 0 1rem #51baff, 0 0 2rem #53baff, 0 0 3rem #50b9ff;
}

.main-ui .panel#victory.show {
  display: block;
}

.main-ui .panel .menu-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-ui .panel .menu-top-bar .back-button {
  cursor: pointer;
  font-size: 2rem;
  color: #50b9ff;
}

.main-ui .panel .menu-top-bar .back-button:hover {
  color: white;
  text-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

.main-ui .panel .menu-top-bar h2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.main-ui .panel .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-ui .panel .menu li {
  margin-bottom: 1rem;
}

.main-ui .panel .menu li:last-child {
  margin-bottom: 0;
}

.main-ui .panel .menu li .menu-item {
  padding: 1rem;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.main-ui .panel .menu li .menu-item.play {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.main-ui .panel .menu li .menu-item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-top: 1px solid #afdfff;
  border-bottom: 1px solid #afdfff;
  -webkit-transform: scale(0.1, 1);
  transform: scale(0.1, 1);
}

.main-ui .panel .menu li .menu-item:hover {
  text-shadow: 0 0 1rem #51baff, 0 0 2rem #53baff, 0 0 3rem #50b9ff;
}

.main-ui .panel .menu li .menu-item:hover:before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.main-ui .panel .levels {
  overflow: auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-ui .panel .levels .level {
  position: relative;
  cursor: pointer;
  height: 7rem;
  border: 1px solid #50b9ff;
  -webkit-box-flex: 0;
      -ms-flex: 0 48%;
          flex: 0 48%;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-ui .panel .levels .level .info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .2rem;
  background-color: #60d366;
  color: white;
}

.main-ui .panel .levels .level h3 {
  margin: 0;
  font-size: 4rem;
}

.main-ui .panel .levels .level:not(.locked):hover {
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

.main-ui .panel .levels .level.locked {
  color: #ec4949;
  border-color: #ec4949;
  cursor: default;
}

.main-ui .panel .levels .level.locked h3 {
  padding-top: 1.5rem;
}

.main-ui .panel .levels .level.locked .info {
  background-color: #ec4949;
}

.main-ui .panel .levels .level.locked img {
  margin: .5rem auto;
  display: block;
  max-height: 5.2rem;
}

.main-ui .panel .levels .level.locked:hover {
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #ec4a4a, 0 0 0.6rem #ec4b4b, 0 0 0.8rem #ec4c4c, 0 0 1rem #ec4949;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #ec4a4a, 0 0 0.6rem #ec4b4b, 0 0 0.8rem #ec4c4c, 0 0 1rem #ec4949;
}

.main-ui .panel .levels .level.success {
  color: #60d366;
  border-color: #60d366;
}

.main-ui .panel .levels .level.success:hover {
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #61d367, 0 0 0.6rem #62d468, 0 0 0.8rem #63d469, 0 0 1rem #60d366;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #61d367, 0 0 0.6rem #62d468, 0 0 0.8rem #63d469, 0 0 1rem #60d366;
}

.main-ui .panel .levels .level.success h3 {
  padding-top: 1.5rem;
}

#render-canvas {
  width: 100%;
  height: 100%;
  margin: 0px;
  -ms-touch-action: none;
      touch-action: none;
}

#ui {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  color: white;
  padding: 1rem;
}

#ui .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

#btn-menu {
  cursor: pointer;
  font-size: 2rem;
  color: #50b9ff;
  margin-right: 2rem;
}

#btn-menu:hover {
  color: white;
  text-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

#btn-clear-lightning,
#btn-solve {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

#btn-clear-lightning:hover,
#btn-solve:hover {
  text-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

#btn-clear-lightning {
  margin-right: 2rem;
}

#btn-download {
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
}

#solve-status {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}

#editor-part {
  margin-top: 1rem;
}

#editor-part .dim-cube {
  margin-bottom: .5rem;
}

#editor-part .editor-label {
  display: inline-block;
  width: 4rem;
  font-size: 1rem;
}

#editor-part .editor-value {
  display: inline-block;
  width: 2rem;
  font-size: 1rem;
  text-align: center;
}

#editor-part .editor-btn {
  width: 2rem;
}

#editor-part .add-btns {
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#editor-part .add-btns .add-btn {
  text-align: center;
  border: 1px solid white;
  padding: .5rem;
  margin: .5rem;
}

#editor-part .add-btns .add-btn.active {
  -webkit-box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
          box-shadow: 0 0 0.2rem white, 0 0 0.4rem #51baff, 0 0 0.6rem #53baff, 0 0 0.8rem #54bbff, 0 0 1rem #50b9ff;
}

#editor-part .add-btns .add-btn p {
  margin: 0;
}

#fps-info {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
  font-size: 20px;
  color: red;
  text-align: right;
  font-family: monospace;
}

#meshes-info {
  position: fixed;
  top: 30px;
  right: 10px;
  width: 250px;
  font-size: 16px;
  color: red;
  text-align: right;
  font-family: monospace;
}
/*# sourceMappingURL=app.css.map */